.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s; }
  .btn-outline.btn-outline--primary {
    border: 1px solid #a87cd2;
    color: #8f56c5; }
    .btn-outline.btn-outline--primary:hover {
      border-color: #7a57d3;
      color: #7a57d3; }
  .btn-outline.btn-outline--textblack {
    border: 1px solid #444;
    color: #2b2b2b; }
    .btn-outline.btn-outline--textblack:hover {
      border-color: #6a6a6a;
      color: #6a6a6a; }

.btn-primary {
  background-color: #a87cd2;
  border-color: #a87cd2;
  color: #fff; }
  .btn-primary:hover {
    background-color: #532eaf;
    border-color: #532eaf;
    color: #fff; }

/* Flatten das boostrap */
.well,
.navbar-inner,
.popover,
.btn,
.tooltip,
input,
select,
textarea,
pre,
.progress,
.modal,
.add-on,
.alert,
.table-bordered,
.nav > .active > a,
.nav-pills > li > a,
.dropdown-menu,
.tooltip-inner,
.badge,
.label,
.img-polaroid
.well,
.panel,
.panel-heading,
.panel-footer,
.jumbotron,
.thumbnail,
.img-thumbnail,
.input-group-addon,
.navbar,
.pagination li a,
.pager li a,
.list-group a,
.list-group-item {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important; }

body {
  font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "adelle", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700; }

p {
  font-weight: 400; }

h2 {
  font-size: 3em; }

.lead {
  font-family: "adelle", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 100; }

.serif {
  font-family: "adelle", "Helvetica Neue", Arial, sans-serif; }
  .serif.light {
    font-weight: 100; }

body {
  color: #444;
  font-size: 16px; }

.content {
  margin-left: auto;
  margin-right: auto; }
  .content .row.root {
    margin: 0px; }
    .content .row.root .right {
      padding-right: 60px; }

#left {
  background: #fbf260;
  min-height: 1500px; }

#right {
  padding: 0px;
  /* Landscape phones and down */ }
  @media (min-width: 768px) {
    #right {
      padding: 30px 0px 0px 40px; } }

.social-icons {
  margin-top: 20px;
  margin-bottom: 20px; }
  .social-icons a {
    color: #532eaf; }

#app-twitterfeed {
  font-size: .9em; }

.biography .row {
  margin: 0px; }
.biography h1 {
  color: #532eaf;
  font-size: 3.2em;
  margin-bottom: 20px;
  text-align: center;
  /* Landscape phones and down */ }
  @media (min-width: 992px) {
    .biography h1 {
      text-align: left; } }
.biography p {
  line-height: 1.6;
  text-align: justify;
  /* Landscape phones and down */ }
  @media (min-width: 768px) {
    .biography p {
      text-align: left; } }
.biography .btn {
  margin: 10px 0px 20px 0px; }
.biography .photo {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 200px;
  max-width: 200px;
  /* Landscape phones and down */
  /* Landscape phones and down */ }
  @media (min-width: 768px) {
    .biography .photo {
      margin-top: 10px;
      max-height: 200px;
      max-width: 200px; } }
  @media (min-width: 1200px) {
    .biography .photo {
      max-height: 250px;
      max-width: 250px; } }

#fullBiography h3 {
  text-align: center; }
#fullBiography .close {
  font-size: 1em;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100; }
#fullBiography .modal-dialog {
  width: 90%; }
#fullBiography .biography-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.callout-box {
  padding: 20px 0px;
  margin-bottom: 20px;
  /* Landscape phones and down */ }
  .callout-box.grey {
    background: #ECECEC; }
  .callout-box.book {
    padding: 10px;
    /* Landscape phones and down */ }
    @media (min-width: 1200px) {
      .callout-box.book {
        padding-right: 50px; } }
    .callout-box.book .img-book {
      max-width: 200px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
    .callout-box.book .description {
      margin-top: 10px; }
  @media (min-width: 1200px) {
    .callout-box {
      margin-top: 20px; } }
  .callout-box .row {
    margin: 0px; }
  .callout-box h2 {
    font-size: 2em; }
  .callout-box .lead {
    font-size: 1em;
    text-transform: uppercase; }
  .callout-box .buttons {
    margin: 20px 0px; }
    .callout-box .buttons .btn {
      margin: 5px; }

.tweet-image {
  max-width: 100px; }

.tweets {
  padding: 30px;
  margin-left: -20px;
  /* Landscape phones and down */
  /* Landscape phones and down */ }
  @media (min-width: 768px) {
    .tweets {
      padding: 30px 30px 20px 30px; } }
  @media (min-width: 1200px) {
    .tweets {
      padding: 70px 50px 20px 80px; } }

.tweet {
  margin-bottom: 15px;
  font-size: 1em;
  font-family: "adelle", "Helvetica Neue", Arial, sans-serif;
  /* Landscape phones and down */
  /* Landscape phones and down */ }
  @media (min-width: 768px) {
    .tweet {
      font-size: 1em;
      margin-bottom: 25px; } }
  @media (min-width: 1200px) {
    .tweet {
      font-size: 1.2em;
      margin-bottom: 35px; } }
  .tweet a {
    color: #444;
    border-bottom: 1px dotted #444;
    text-decoration: none; }
    .tweet a:hover {
      background: #a87cd2;
      color: white; }
    .tweet a.action {
      border-bottom: none;
      text-decoration: none; }
      .tweet a.action:hover {
        background: transparent;
        color: #532eaf; }

#app-instagramfeed .thumbnail {
  border: none;
  margin-bottom: 0px;
  padding: 0px; }
#app-instagramfeed .col-xs-4.col-lg-3 {
  padding: 0px; }
