.callout-box {
  &.grey {
    background: $colour-boxgrey;
  }
  &.book {
    @include respond-to(large-desktop) {
      padding-right: 50px;
    }
    .img-book {
      max-width: 200px;
      width: 100%;
      margin-left: auto; margin-right: auto;
    }
  }
  
  padding: 20px 0px;
  margin-bottom: 20px;
  
  @include respond-to(large-desktop) {
    margin-top: 20px;
  }
  
  .row {
   margin: 0px;
  }

  .callout-box--content {
  }
  
  h2 {
    font-size: 2em;
  }
  
  .lead {
    font-size: 1em;
    text-transform: uppercase;
  }
  
  .buttons {
    margin: 20px 0px;
    .btn {
      margin: 5px;
    }
  }

}