.callout-box {
  padding: 20px 0px;
  margin-bottom: 20px;
  
  @include respond-to(large-desktop) {
    margin-top: 20px;
    margin-bottom: 40px;
  }


  &.grey {
    background: $colour-boxgrey;
  }
  &.book {
    padding: 10px;
    @include respond-to(large-desktop) {
      padding-left: 50px;
    }
    .img-book {
      max-width: 200px;
      width: 100%;
      margin-left: auto; margin-right: auto;
    }
    .description {
      margin-top: 10px;
    }
  }
  
  

  
  .row {
   margin: 0px;
  }

  .callout-box--content {
  }
  
  h2 {
    font-size: 2em;
  }
  
  .buttons {
    margin: 20px 0px;
    .btn {
      margin: 5px;
    }
  }

}

.callout-box--instagram {
  padding-top: 0px;
  .section-title {
    background: $colour-boxgrey;
    margin-bottom: 0px;
    padding: 20px 0px;
    margin-top: 0px;
  }
}

.callout-box--text-entry {
  
  .callout-box--content {
    padding: 20px;

    @include respond-to(tablet-plus) {
      padding: 0px 40px 0px 20px;
    }
    @include respond-to(desktop) {
      padding: 0px 40px 0px 60px;
    }
  }
}

.callout-box--contact {
  padding-top: 0px;
  background: $colour-backgrey;

  .section-title {
    background: $colour-boxgrey;
    margin-bottom: 0px;
    padding: 20px 0px;
    margin-top: 0px;
  }
}