.tweet-image {
  max-width: 100px
}

.tweets {
  background: lighten($colour-secondary,20%);
  padding: 70px 50px 20px 80px;
  margin-left: -20px;
}
.tweet {
  clear: both;
  display: block;
  margin-bottom: 35px;
  font-size: 1.2em;
  font-family: $type-headline;
  a {
    color: $colour-textblack;
    border-bottom: 1px dotted $colour-textblack;
    text-decoration: none;
    &:hover{
      background: $colour-primary-accent;
      color: white;
    }
    &.action {
      border-bottom: none;
      text-decoration: none;
      &:hover{
        background: transparent;
        color: $colour-primary;
      }
    }
  }
}
.biography {
  padding-top: 25px;
  margin-bottom: 50px;
  h1 {
    color: $colour-primary;
    font-size: 4.3em;
    margin-bottom: 20px;
  }
  .lead { color: $colour-primary; }
  p {
    line-height: 1.6em;
    text-align: justify;
  }

}
.photo {
  margin-top: 30px;
}

#fullBiography {
  .modal-dialog {
    width: 90%;
  }
  .biography-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.social-icons {
  a {color: $colour-primary;}
  margin-top: 20px;
  margin-bottom: 20px;
}

#header {
  background: $colour-white;
  color: $colour-primary;
  padding: 50px 0px;
  text-align: center;
  border-top: 10px solid $colour-secondary;
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 1.2em;
  }
  .social {
    margin-top: 20px;
    a{
      color: lighten($colour-primary,20%);
      margin: 5px;
      &:hover {
        color: $colour-primary;
      }
    }
      
  }
}

#main-content {
  padding: 10px 0px;
}

#bio {
  
  background: $colour-boxgrey;
//   margin: 20px 0px;
  padding: 5px;
  .photo {
    margin-top: 60px;
  }
  .biography {
    padding: 20px 40px 40px 40px;
  }  
  .biography--content {
    max-width: 600px;
  }
}