
#top {
  padding-top: 20px;
  padding-bottom: 20px;
  h1 {
    margin: 0px;
  }
}
#banner-photo {
  max-height: 430px;
  overflow: hidden;
}

#main-content {
  padding-top: 30px;
}

.biography {
  text-align: justify;
  p { font-size: 1.1em; }
}

.twitter {
  font-size: 1.2em;
}