.tweet-image {
  max-width: 100px
}

.tweets {
//   padding: 30px;
//   margin-left: -20px;
  @include respond-to(tablet-plus) {
    padding: 0px 30px 20px 30px;
  }
  @include respond-to(large-desktop) {
    padding: 0px 50px 20px 80px;
  }
}
.tweet {
  margin-bottom: 15px;
  font-size: 1em;
  font-family: $type-headline;
  @include respond-to(tablet-plus) {
    font-size: 1em;
    margin-bottom: 25px;
  }
  @include respond-to(large-desktop) {
    font-size: 1.2em;
    margin-bottom: 35px;
  }
  a {
    color: $colour-textblack;
    border-bottom: 1px dotted $colour-textblack;
    text-decoration: none;
    &:hover{
      background: $colour-primary-accent;
      color: white;
    }
    &.action {
      border-bottom: none;
      text-decoration: none;
      &:hover{
        background: transparent;
        color: $colour-primary;
      }
    }
  }
}