body {
  font-family: $type-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $type-headline;
  font-weight: 700;
}
p {
  font-weight: 300;
}

h2 {
  font-size: 3em;
}

.lead {
  font-family: $type-headline;
  font-size: 1.4em;
  font-weight: 400;
}

.section-title {
  font-family: $type-headline;
  font-size: 1em;
  font-weight: 400; 
}

.tweet p{
  font-family: $type-headline;
  font-weight: 100 !important;
}

.serif {
  font-family: $type-headline;
  &.light {
    font-weight: 100;
  }
}