// Variables and helpers

// Colours

$colour-primary: #532eaf; // purple
$colour-primary-accent: #a87cd2; // light purple
$colour-secondary: #efe106; //yellow

$colour-white: #fff;
$colour-textblack: #444;

$colour-backgrey: #F4F4F4;
$colour-boxgrey: #f9f9f9;

$colour-boxgreen: #E3F0EE;

$colour-lightgrey: #f1f1f1;
// Type

$type-headline: "adelle", "Helvetica Neue", Arial, sans-serif;
$type-body: "adelle-sans", "Helvetica Neue", Arial, sans-serif;

// Buttons

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    &.btn-outline--primary {
      border: 1px solid $colour-primary-accent;
      color: darken($colour-primary-accent, 10%);
      &:hover {
        border-color: lighten($colour-primary, 15%);
        color: lighten($colour-primary, 15%);
      }
    }
    &.btn-outline--textblack {
      border: 1px solid $colour-textblack;
      color: darken($colour-textblack, 10%);
      &:hover {
        border-color: lighten($colour-textblack, 15%);
        color: lighten($colour-textblack, 15%);
      }
    }
}
.btn-primary {
  background-color: $colour-primary-accent;
  border-color: $colour-primary-accent;
  color: $colour-white;
  &:hover {
    background-color: $colour-primary;
    border-color: $colour-primary;
    color: $colour-white;
    
  }
}


// RESPONSIVE HELPERS

@mixin respond-to($media) {
    /* Landscape phones and down */
    @if $media == phone {
        @media (max-width: 480px) { @content; }
    }
    /* Landscape phone to portrait tablet */
    @else if $media == tablet-portrait {
        @media (max-width: 767px) {@content; }
    }
    /* Tablet Larger */
    @else if $media == tablet-plus {
        @media (min-width: 768px) { @content; }
    }
    /* Portrait tablet to landscape and desktop */
    @else if $media == tablet-landscape-desktop {
        @media (min-width: 768px) and (max-width: 991px) { @content; }
    }
    /* Phone to small desktop */
    @else if $media == small-desktop {
        @media (max-width: 991px) { @content; }
    }
    /* Large desktop */
    @else if $media == desktop {
        @media (min-width: 992px) { @content; }
    }
    /* Smaller than Large desktop */
    @else if $media == large-desktop-smaller {
        @media (max-width: 1200px) { @content; }
    }
    /* Large desktop */
    @else if $media == large-desktop {
        @media (min-width: 1200px) { @content; }
    }
    // Non-Retina
    @else if $media == non-retina {
        @media screen and (-webkit-max-device-pixel-ratio: 1) { @content; }
    }
    // Retina Only
    @else if $media == retina {
        @media screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
    // Specific max width
    @else {
        @media only screen and (max-width: #{$media}px) { @content; }
    }
}
